.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 20px;
  box-shadow: 0px -5px 10px 0px #c7c7c7;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 100%;
  padding: 10px 0;
}
.github {
  display: flex;
  gap: 20px;
}
.github__link:hover {
  color: #d2691e;
}
.rs__link:hover {
  opacity: 0.7;
}
.rs__logo {
  width: 94px;
}

@media (max-width: 768px) {
  .footer {
    font-size: 16px;
  }
  .rs__logo {
    width: 75px;
  }
}

@media (max-width: 500px) {
  .github {
    flex-direction: column;
    gap: 5px;
  }
}
